@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');

:root {
    --dark-background: #1f2937;
    --dark-heading: #f9faf8;
    --whitish-gray: #e5e7eb;
    --primary: #3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: var(--dark-background);
    color: var(--dark-heading);
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 8px 20px;
    background-color: var(--primary);
    color: #fff;
    border: 2px solid;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.btn.primary {
    margin-top: 10px;
    border-color: var(--primary);
}

.btn.secondary {
    padding: 6px 30px;
    border-color: #fff;
}

.navbar,
.nav-links,
.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar,
.nav-links {
    padding: 10px 0;
}

.nav-links {
    column-gap: 20px;
}

.nav-links a,
.header p {
    color: var(--whitish-gray);
    font-size: 18px;
}

.header {
    padding-block: 100px;
    display: flex;
    column-gap: 30px;
}

.header .left,
.header .right {
    flex: 1;
}

.header h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--dark-heading);
}

.header .right {
    background-color: gray;
}

.information-wrapper {
    padding-block: 50px;
}

.information-wrapper h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-background);
    text-align: center;
}

.card-wrapper {
    margin-block: 30px;
    column-gap: 30px;
}

.card {
    width: 200px;
}

.card .image {
    width: 100%;
    height: 200px;
    border: 5px solid var(--primary);
    border-radius: 20px;
}

.card p {
    font-size: 20px;
    color: gray;
    text-align: center;
    margin-top: 6px;
}

.testimonial {
    background-color: var(--whitish-gray);
    height: 400px;
}

.testimonial blockquote {
    max-width: 800px;
}

.testimonial blockquote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: var(--dark-background);
}

.testimonial blockquote cite {
    display: block;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--dark-background);
}

.cta-wrapper {
    height: 300px;
}

.cta {
    background-color: var(--primary);
    color: #fff;
    padding: 50px 130px;
    border-radius: 10px;
}

footer {
    background-color: var(--dark-background);
    padding-block: 40px;
    color: #e5e7eb;
    text-align: center;
    font-size: 18px;
}